<!DOCTYPE html>
<html lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<meta name="keywords"
		  content="bánh tráng cần thơ, bánh tráng trộn cần thơ, bánh trang trộn sỉ và lẻ,sỉ và lẻ nguyên liệu làm bánh tráng trộn,
		  bánh tráng trộn giá rẻ, bánh tráng trộn ngon nhất cần thơ">
	<meta name="description" content="Bánh tráng Út Diệu - Chuyên sỉ và lẻ nguyên liệu làm bánh tráng trộn">
	<meta name="author" content="Magentech">
	<meta name="robots" content="index, follow">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>@ViewData["Title"] - DACSAN_BANHTRANG</title>
	<link rel="shortcut icon" type="image/png" href="~/Images/Logo/logo-footer.png" />
	<link href="~/site/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
	<link href="~/site/css/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
	<link href="~/site/js/datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet" />

	<link href="~/site/css/themecss/lib.css" rel="stylesheet" />
	<link href="~/site/js/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
	<link href="~/site/js/minicolors/miniColors.css" rel="stylesheet" />
	<link href="~/site/css/themecss/so_sociallogin.css" rel="stylesheet" />
	<link href="~/site/css/themecss/so_searchpro.css" rel="stylesheet" />
	<link href="~/site/css/themecss/so_megamenu.css" rel="stylesheet" />
	<link href="~/site/css/themecss/so-categories.css" rel="stylesheet" />
	<link href="~/site/css/themecss/so-listing-tabs.css" rel="stylesheet" />
	<link href="~/site/css/themecss/so-category-slider.css" rel="stylesheet" />
	<link href="~/site/css/themecss/so-newletter-popup.css" rel="stylesheet" />
	<link href="~/site/css/footer/footer1.css" rel="stylesheet" />
	<link href="~/site/css/header/header4.css" rel="stylesheet" />
	<link href="~/site/css/responsive.css" rel="stylesheet" />
	<link href="~/site/css/quickview/quickview.css" rel="stylesheet" />
	<link href="~/site/css/home4.css" rel="stylesheet" id="color_scheme" />
	<link href="~/lib/slick-carousel/slick.css" rel="stylesheet" />
	<link href="~/css/owl.carousel.min.css" rel="stylesheet" />
	<link href="~/css/owl.theme.default.min.css" rel="stylesheet" />
	<style type="text/css">
		body {
			font-family: Roboto, sans-serif;
		}
	</style>
	<link href="~/site/dist/css/lightbox.min.css" rel="stylesheet" />
	@await RenderSectionAsync("Style", required: false)
</head>
<body class="common-home res layout-4 loaded hidden-scorll">
	<div id="wrapper" class="wrapper-fluid banners-effect-3">
		<!--header-->
		<header id="header" class="typeheader-4 sticky-top">
			<style type="text/css">
				.fixedtop {
					position: fixed;
					top: 0;
					width: 100%;
					z-index: 999;
				}
			</style>
			<div class="header-center" id="menuuu" style="padding: 22px 0 10px;">
				<div class="container">
					<div class="row">
						<div class="navbar-logo col-lg-3 col-md-4 col-xs-4" id="imglogo">
							<a asp-action="Index">
								<img style="width: 75px" src="~/Images/Logo/logo-footer.png" />
							</a>
						</div>
						<div class="col-lg-6 col-md-5 col-xs-5" style="text-align: center">
							<a asp-action="Index">
								<img id="noteimg" style=" margin-top: 10px; height: 40px" src="~/Images/Logo/foot.png" />
								<p class="textimg"
								   style="margin-top: 5px; font-size: 16px; color: #212121 !important; font-weight: 600;">
									Chuyên
									sỉ &amp; lẻ bánh tráng, muối tôm &amp; tất cả các loại gia vị
								</p>
							</a>

						</div>
						<style type="text/css">
							@@media only screen and (max-width: 600px) {
								#menuuu {
									padding: 0px !important;
								}

								#noteimg {
									margin-right: 0px !important;
									float: left !important;
									height: 35px;
								}

								#imglogo {
									margin-bottom: 2px !important;
								}

								.textimg {
									margin-top: 2px;
									float: none;
									font-size: 6px !important;
									line-height: normal;
								}
							}
						</style>
						<div class="header-cart-phone col-lg-3 col-md-3 col-xs-3" style="float: right; margin-top: 15px">
							<div class="bt-head header-cart">
								<div class="shopping_cart">
									<div id="cart" class="btn-shopping-cart">
										<div class="shopcart">
											<a href="tel:0939309822"><span class="handle pull-left"></span></a>
											<div class="cart-info">
												<span class="items_cart2">Liên hệ: Anh Long</span>
												<h2 class="title-cart2 hidden"><a> 0939 309 822</a> - <a>0925 599 237</a></h2>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<!--end header-->
		<!--slider-->
		<div class="owl-carousel owl-theme owl-loaded">
			<div class="owl-stage-outer">
				<div class="owl-stage">
					<div class="owl-item">
						<img src="~/Images/Slider/banner1.jpg" />
					</div>
					<div class="owl-item">
						<img src="~/Images/Slider/banner2.jpg" />
					</div>
					<div class="owl-item">
						<img src="~/Images/Slider/banner3.jpg" />
					</div>
					<div class="owl-item">
						<img src="~/Images/Slider/banner4.jpg" />
					</div>
				</div>
			</div>
		</div>
		<!--end slider-->
		<div class="content">
			@RenderBody()
		</div>

		<footer class="footer-container typefooter-1">
			<div class="footer-has-toggle" id="collapse-footer" style="max-height: initial;">
				<div class="so-page-builder">
					<div class="container-fluid page-builder-ltr">
						<div class="row row_sh6r  footer--top  row-color ">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col_971a  float_none container">
								<div class="row row_dmol  ">
									<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 col_hcbx block--newletter">
										<div class="module news-letter">
											<div class="so-custom-default newsletter" style="width:100%; background-color:#f0f0f0;">
												<div class="btn-group title-block">
													<div class="popup-title page-heading"><i class="fa fa-paper-plane-o"></i> Liên hệ ngay <a href="tel:0939309822">0939 309 822</a> - <a href="tel:0925599237">0925 599 237</a> để được hỗ trợ tốt nhất</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 col_h1e7 block--social">
										<div class="footer-social">
											<h3 class="block-title">Follow us</h3>
											<div class="socials">

											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="container-fluid page-builder-ltr">
						<div class="row row_qof8  footer--center3  row-color ">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col_up4v  float_none ">
								<div class="row row_fymn  ">
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col_1yf0">
										<div class="contactinfo">
											<h4 class="title-footer">
												<img src="~/Images/Logo/foot.png" />
											</h4>
											<p>Chuyên sỉ &amp; lẻ: bánh tráng, muối tôm &amp; tất cả các loại gia vị</p>

											<div>
												<div class="address">
													<label><i class="fa fa-map-marker"></i></label>
													<span>Cơ sở 1: số 28, tổ 26, ấp Xóm Mới I, xã Thanh Phước, huyện Gò Dầu, tỉnh Tây Ninh</span>
												</div>
												<div>
													<label><i class="fa fa-phone"></i></label>
													<span><a href="tel:0909757182">0909.757.182 (Mr Chiến)</a></span>
												</div>
											</div>
											<div>
												<div class="address">
													<label><i class="fa fa-map-marker"></i></label>
													<span>Cơ sở 2: 386 Nguyễn Công Trứ, phường cầu ông lãnh, quận 1, HCM</span>
												</div>
												<div class="phone">
													<label><i class="fa fa-phone"></i></label>
													<span><a href="tel:0908238263">0908.238.263 (Cô Diệu)</a></span>
												</div>
											</div>
											<div>
												<div class="address">
													<label><i class="fa fa-map-marker"></i></label>
													<span>Cơ sở 3: Kiot số 3 tầng trệt, nhà lồng 1, TTTM Cái Khế, Ninh Kiều, Cần Thơ</span>
												</div>
												<div class="phone">
													<label><i class="fa fa-phone"></i></label>
													<span><a href="tel:0939309822">0939 309 822 (Mr Long)</a></span>
												</div>
											</div>
											<p>Chuyên sỉ &amp; lẻ: bánh tráng, muối tôm &amp; tất cả các loại gia vị</p>
											<br>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</footer>
		<script src="~/lib/jquery/dist/jquery.min.js"></script>
		@*<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
		<script src="~/js/site.js" asp-append-version="true"></script>
		<!--script-->
		<script src="~/site/js/jquery-2.2.4.min.js"></script>
		<script src="~/site/js/bootstrap.min.js"></script>
		<script src="~/site/js/themejs/so_megamenu.js"></script>
		<script src="~/js/owl.carousel.min.js"></script>
		<script src="~/site/js/themejs/libs.js"></script>
		<script src="~/site/js/countdown/jquery.countdown.min.js"></script>
		<script src="~/site/js/dcjqaccordion/jquery.dcjqaccordion.2.8.min.js"></script>
		<script src="~/site/js/datetimepicker/moment.js"></script>
		<script src="~/site/js/datetimepicker/bootstrap-datetimepicker.min.js"></script>
		<script src="~/site/js/jquery-ui/jquery-ui.min.js"></script>
		<script src="~/site/js/modernizr/modernizr-2.6.2.min.js"></script>
		<script src="~/site/js/minicolors/jquery.miniColors.min.js"></script>
		<script src="~/site/js/jquery.nav.js"></script>
		<script src="~/site/js/quickview/jquery.magnific-popup.min.js"></script>
		<script src="~/site/js/themejs/application.js"></script>
		@*<script src="~/site/js/themejs/homepage.js"></script>*@
		<script src="~/site/js/themejs/custom_h1.js"></script>
		<script src="~/site/js/themejs/addtocart.js"></script>
		<script src="~/site/js/themejs/nouislider.js"></script>
		<link href="~/lib/slick-carousel/slick-theme.css" rel="stylesheet" />
		<script src="~/lib/slick-carousel/slick.js"></script>
		<script type="text/javascript">
			$(document).ready(function () {
				$(".img-wrapper1").find("img").css("transition", "transform 500ms ease-in-out");
				$(".img-wrapper1").hover(
					function () {
						$(this).find("img").css("transform", "scale(1.2)");
					},
					function () {
						$(this).find("img").css("transform", "scale(1)");
					});
			});

			$(".my-slide").slick({
				dots: true,
				infinite: true,
				speed: 300,
				fade: true,
				cssEase: 'linear'
			});

			var num = 50; //number of pixels before modifying styles
			$(window).bind('scroll', function () {
				if ($(window).scrollTop() > num) {
					$('#menuuu').addClass('fixedtop');
				} else {
					$('#menuuu').removeClass('fixedtop');
				}
			});

			$('.owl-carousel').owlCarousel({
				items: 1,
				pagination: false,
				center: false,
				nav: false,
				dots: true,
				loop: true,
				margin: 10,
				autoplay: true,
				autoplayTimeout: 2500,
				autoplayHoverPause: true,
				autoplaySpeed: 800,
				startPosition: 0,
				navText: ['<i class="fa fa-angle-left"></i>', '<i class="fa fa-angle-right"></i>'],
			});
		</script>
		<!--end script-->
		@await RenderSectionAsync("Scripts", required: false)
	</div>
	<div class="back-to-top hidden-top" onclick="scrollToTop(1000);"><i class="fa fa-angle-up"></i></div>
	<div class="back-to-top1">
		<a href="https://chat.zalo.me/" target="_blank">
			<img src="~/site/image/zalo.png" />
		</a>
	</div>
</body>
</html>
